body {
    background-color: rgb(75, 202, 230); 
    font-size: 25px; 
    font-family: 'Itim', cursive;;
}

.container {
    text-align: center; 
    justify-content: center; 
} 

h1 {
    font-size: 120px; 
    font-family: 'Lilita One', cursive; 
    color: rgb(202, 10, 10); 
    -webkit-text-stroke: .5px black; 
}

#initial {
    font-family: 'Lilita One', cursive; 
    width: 90px; 
}