body {
    background-color: rgb(75, 202, 230); 
    font-size: 25px; 
    font-family: 'Itim', cursive;;
}

.container {
    text-align: center; 
    justify-content: center; 
} 

h1 {
    font-size: 120px; 
    font-family: 'Lilita One', cursive; 
    color: rgb(202, 10, 10); 
    -webkit-text-stroke: .5px black; 
}

#initial {
    font-family: 'Lilita One', cursive; 
    width: 190px;  

} 

.btn {
    border: 0;
    padding: 5px 10px;
    font-size: 20px;
    background-color:rgb(202, 10, 10); 
    width: 80px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
}  


.btn:hover {
    background-color: rgb(231, 81, 106);
  }
  
  .btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);