body {
    background-color: rgb(75, 202, 230); 
    font-size: 25px; 
    font-family: 'Itim', cursive;; 
    flex-direction: row;
}

.container {
    text-align: center; 
    justify-content: center; 
} 

h1 {
    font-size: 120px; 
    font-family: 'Lilita One', cursive; 
    color: rgb(202, 10, 10); 
    -webkit-text-stroke: .5px black; 
}

#initial {
    font-family: 'Lilita One', cursive; 
    width: 190px;
} 

.btn {
    border: 0;
    padding: 5px 10px;
    font-size: 20px;
    background-color:rgb(202, 10, 10); 
    width: 80px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center; 
    text-decoration: none;
}  


.btn:hover {
    background-color: rgb(217, 75, 98);
  } 


/*This is for the forecast.html */ #header h1{
    font-size: 400%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

/*Jumbotron padding and border */
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

/* City Search width */
#search-city{
    width:80%;
}

/* fontawesome magnifying glass icon */
#search-button-icon{
    width:15px;
    display:inline-block;
}

/*Current weather padding */
#current-weather {
    padding-left: 15px;
}

/* clear storage below list of cities */
#clear-storage{
    color:grey;
    text-decoration: none;
    font-size:.75em;
    margin: .5em 0em 0em .5em;
}

/* Weather card styling */
.weather-card{
    width: 9rem;
    background-color: #0275d8;
    color: white;
    text-align: center;
}

/* UV coloring scheme for UV display */
.uv-favorable{
    background-color: green;
    border-radius: 5px;
    color: white;
}

.uv-moderate{
    background-color: orange;
    border-radius: 5px;
    color: white;
}

.uv-severe{
    background-color: red;
    border-radius: 5px;
    color: white;
}

/* Media queries */
@media only screen and (max-width: 992px) {
    #search-city{
        width:100%;
    }
    #search-button{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {

    #fiveDayForecastUl{
        justify-content: center;
    }
}


